* {
    padding: 0;
    margin: 0;

    ::-webkit-scrollbar {
        width: 6px;
        /* Ancho de la barra de desplazamiento */
    }

    ::-webkit-scrollbar-track {
        background-color: #000000a1;
        /* Color de fondo de la pista de desplazamiento */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #fdfdfdae;
        /* Color del botón de desplazamiento */
        border-radius: 5px;
        /* Radio de borde del botón de desplazamiento */
    }
}

body {
    background-image: linear-gradient(to bottom, #111214, #1b1d1e, #242828, #303331, #3d3e3b);

    .floating-button {
        position: fixed;
        top: 30px;
        right: 50px;
        background-image: linear-gradient(to right top, #a4a4a4, #9b9b9b, #919191, #888888, #7f7f7f, #737373, #676768, #5c5c5d, #4b4c4d, #3b3c3d, #2c2d2e, #1e1f1f);
        color: white;
        box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.449);
        border: none;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform 0.2s linear;
        z-index: 10;

        &:hover {
            transform: scale(1.05);
        }

        .cart-counter {
            font-family: "Merienda", cursive;
            position: absolute;
            top: 5px;
            right: 21px;
            background-color: transparent;
            color: rgb(226, 222, 222);
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
        }
        img{
           width: 35px; 
           padding-top: 10px;
        }
    }
}